@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body,
#root {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: theme("fontFamily.body");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme("fontFamily.heading");
}

h1 {
  font-size: theme("fontSize.heading-xl");
}
h2 {
  font-size: theme("fontSize.heading-lg");
}
h3 {
  font-size: theme("fontSize.heading-md");
}
h4 {
  font-size: theme("fontSize.heading-sm");
}